# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [5]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'lesson-02', 'code', 'ozone.csv'))

In [10]:
print (data.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [65]:
print (data.dtypes)

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
print (data.head(2))

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [7]:

data.count()
#153

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [13]:
print (data.tail(2))

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [24]:
data.loc[46, "Ozone"]

21.0

How many missing values are in the Ozone column of this data frame?

In [29]:
data.describe()
#153-116= 37

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [76]:
data.Ozone.isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [ ]:
#42.129310

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [55]:
data[(data.Ozone>31) & (data.Temp>90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [52]:

data1 = data[(data.Ozone>31) & (data.Temp > 90)]
print (data1)
data1.describe()
#212.8

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

            Ozone     Solar.R       Wind       Temp      Month        Day
count   10.000000   10.000000  10.000000  10.000000  10.000000  10.000000
mean    89.500000  212.800000   5.600000  93.400000   8.200000  14.500000
std     13.360389   36.039485   2.107131   1.897367   0.788811  13.159281
min     73.000000  167.000000   2.300000  91.000000   7.000000   1.000000
25%     79.500000  188.250000   4.725000  92.000000   8.000000   3.250000
50%     88.000000  200.000000   6.000000  93.000000   8.000000   8.500000
75%     96.750000  234.000000   6.300000  94.000000   9.000000  28.750000
max    118.000000  272.000000   9.700000  97.000000   9.000000  31.000000

What is the mean of "Temp" when "Month" is equal to 6?

In [59]:
data2=data[data.Month==6]
print (data2)
data2.describe()
#79.1

    Ozone  Solar.R  Wind  Temp  Month  Day
31    NaN    286.0   8.6    78      6    1
32    NaN    287.0   9.7    74      6    2
33    NaN    242.0  16.1    67      6    3
34    NaN    186.0   9.2    84      6    4
35    NaN    220.0   8.6    85      6    5
36    NaN    264.0  14.3    79      6    6
37   29.0    127.0   9.7    82      6    7
38    NaN    273.0   6.9    87      6    8
39   71.0    291.0  13.8    90      6    9
40   39.0    323.0  11.5    87      6   10
41    NaN    259.0  10.9    93      6   11
42    NaN    250.0   9.2    92      6   12
43   23.0    148.0   8.0    82      6   13
44    NaN    332.0  13.8    80      6   14
45    NaN    322.0  11.5    79      6   15
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17
48   20.0     37.0   9.2    65      6   18
49   12.0    120.0  11.5    73      6   19
50   13.0    137.0  10.3    76      6   20
51    NaN    150.0   6.3    77      6   21
52    NaN     59.0   1.7    76      6   22
53    NaN     91.0   4.6    76      6   23
54    NaN    250.0   6.3    76      6   24
55    NaN    135.0   8.0    75      6   25
56    NaN    127.0   8.0    78      6   26
57    NaN     47.0  10.3    73      6   27
58    NaN     98.0  11.5    80      6   28
59    NaN     31.0  14.9    77      6   29
60    NaN    138.0   8.0    83      6   30

           Ozone     Solar.R       Wind       Temp  Month        Day
count   9.000000   30.000000  30.000000  30.000000   30.0  30.000000
mean   29.444444  190.166667  10.266667  79.100000    6.0  15.500000
std    18.207904   92.882975   3.769234   6.598589    0.0   8.803408
min    12.000000   31.000000   1.700000  65.000000    6.0   1.000000
25%    20.000000  127.000000   8.000000  76.000000    6.0   8.250000
50%    23.000000  188.500000   9.700000  78.000000    6.0  15.500000
75%    37.000000  270.750000  11.500000  82.750000    6.0  22.750000
max    71.000000  332.000000  20.700000  93.000000    6.0  30.000000

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [66]:
data3=data[data.Month==5]
print (data3)
data3.describe()
#115

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
3    18.0    313.0  11.5    62      5    4
4     NaN      NaN  14.3    56      5    5
5    28.0      NaN  14.9    66      5    6
6    23.0    299.0   8.6    65      5    7
7    19.0     99.0  13.8    59      5    8
8     8.0     19.0  20.1    61      5    9
9     NaN    194.0   8.6    69      5   10
10    7.0      NaN   6.9    74      5   11
11   16.0    256.0   9.7    69      5   12
12   11.0    290.0   9.2    66      5   13
13   14.0    274.0  10.9    68      5   14
14   18.0     65.0  13.2    58      5   15
15   14.0    334.0  11.5    64      5   16
16   34.0    307.0  12.0    66      5   17
17    6.0     78.0  18.4    57      5   18
18   30.0    322.0  11.5    68      5   19
19   11.0     44.0   9.7    62      5   20
20    1.0      8.0   9.7    59      5   21
21   11.0    320.0  16.6    73      5   22
22    4.0     25.0   9.7    61      5   23
23   32.0     92.0  12.0    61      5   24
24    NaN     66.0  16.6    57      5   25
25    NaN    266.0  14.9    58      5   26
26    NaN      NaN   8.0    57      5   27
27   23.0     13.0  12.0    67      5   28
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31

            Ozone     Solar.R       Wind       Temp  Month        Day
count   26.000000   27.000000  31.000000  31.000000   31.0  31.000000
mean    23.615385  181.296296  11.622581  65.548387    5.0  16.000000
std     22.224449  115.075499   3.531450   6.854870    0.0   9.092121
min      1.000000    8.000000   5.700000  56.000000    5.0   1.000000
25%     11.000000   72.000000   8.900000  60.000000    5.0   8.500000
50%     18.000000  194.000000  11.500000  66.000000    5.0  16.000000
75%     31.500000  284.500000  14.050000  69.000000    5.0  23.500000
max    115.000000  334.000000  20.100000  81.000000    5.0  31.000000

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas